.active-content {
  background-color: var(--primary);
  color: var(--accent);
}
.info {
  padding: 2rem 5rem;
}
.info p {
  font-size: 1.4rem;
}
h1 {
  padding: 1rem 0;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  background: rgba(255, 255, 255, 0.2)
}

@media screen and (max-width: 660px) {
  .info {
    padding: 2rem;
  }
}
