.active-content {
  background-color: var(--primary);
  color: var(--accent);
}
.info {
  padding: 2rem 5rem;
}
.info p {
  font-size: 1.4rem;
}
h1 {
  padding: 1rem 0;
}

@media screen and (max-width: 660px) {
  .info {
    padding: 2rem;
  }
}
