.active-content {
  background-color: var(--primary);
  color: var(--accent);
}
.info{
  padding: 0 5rem;
  padding-bottom: 2rem;

}
.info p{
  font-size: 1.4rem;
}
h1{
  padding: 1rem 0;
}


@media screen and (max-width: 660px) {
  .info{
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
}