<div class="active-content" *ngIf="!isLoading" [@fadeInOut]>
  <app-logo-container></app-logo-container>
  <app-chart></app-chart>
  <div class="info">
    <h1>{{ activeClimateInfo.title }}</h1>
    <p [innerHTML]="activeClimateInfo.description"></p>
  </div>
  <footer class="footer">Created by Serena Giumentaro © 2023</footer>
</div>
<div *ngIf="isLoading" class="loader">
  <p-progressSpinner
    styleClass="loading-spinner"
    strokeWidth="3"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>
